<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


	<style type="text/css">
		.list-group-item {
		  display: flex;
		}

		img{
			margin-right: 10px;
			align-self: flex-start;
		}

	</style>
</head>

<body>
		<div class="container">
			
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">Filmes & Seriados</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="/profissionais">Profissionais <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/filmes">Filmes</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/seriados">Seriados</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/temporadas">Temporadas</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/episodios">Episódios</a>
		      </li>
		    </ul>
		  </div>
		</nav>

		<ul class="list-group">
		 <% profissionais.forEach(function (prof, index, array){ %>

		  <li class="list-group-item">
				<img src="https://via.placeholder.com/150" alt="..." class="img-thumbnail">
				<div>
					<h4><%= prof['nome'] %></h4>
					<p>Nacionalidade: <%= prof['nacionalidade'] %></p>
					<p>Ano nascimento: <%= prof['ano_nascimento'] %></p>
				</div>
		  </li>

		 <% }) %>;
		</ul>

	</div>


</body>
</html>