.header{
	background-color: #171717;
	color: #ffffff;
	padding-left: 0px;
	padding-right: 0px;
}


.header-content{
	height: 60px;
	margin-right: 0px;
	margin-left: 0px;
	justify-content: space-between;
	align-items: center;
}


.search-div{
	margin-bottom: 0px !important;
}

.site-title{
	margin-bottom: 0px;
	font-size: 30px;
}


.main-content{
	width: 450px;
	height: 350px;
}

#slider{
	overflow: hidden;
}


#slider .slides{
	display: block;
	width: 6000px;
	margin: 0px;
	padding: 0px;
	border: 1px solid green;
}

#slider .slide{
	float: left;
	list-style-type: none;
	width: 450px;
}


.main-container{
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}


.presentation-container{

	text-align: center;
}

.presentation{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}





/*@media (min-width: 992px){
	.presentation{
		font-size: 43px;
	}
}*/

@media (min-width: 576px){
	.presentation{
		font-size: 1.8rem;
	}
}
